################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Quine.SqlInvoke/obj
/Quine.SqlInvoke.Test/obj
/Quine.SqlInvoke.Test/bin/Debug/net6.0
/.vs/SqlInvoke
